<div class="row-fluid">
    <ul class="span6" style="list-style-type: none">
        <li>
            <div class="switch switch-mini" data-order='1'>
                <input type="checkbox" checked/>
            </div>
            <span>Consignee Name</span>
        </li>
        <li>
            <div class="switch switch-mini" data-order='2'>
                <input type="checkbox" checked/>
            </div>
            <span>Consignee Address</span>
        </li>
        <li>
            <div class="switch switch-mini" data-order='3'>
                <input type="checkbox" checked/>
            </div>
            <span>Notify Name</span>
        </li>
        <li>
            <div class="switch switch-mini" data-order='4'>
                <input type="checkbox" checked/>
            </div>
            <span>Noify Address</span>
        </li>
        <li>
            <div class="switch switch-mini" data-order='5'>
                <input type="checkbox" checked/>
            </div>
            <span>Shipper Name</span>
        </li>
        <li>
            <div class="switch switch-mini" data-order='6'>
                <input type="checkbox" checked/>
            </div>
            <span>Shipper Address</span>
        </li>
        <li>
            <div class="switch switch-mini" data-order='7'>
                <input type="checkbox"/>
            </div>
            <span>Container Number</span>
        </li>
        <li>
            <div class="switch switch-mini" data-order='8'>
                <input type="checkbox"/>
            </div>
            <span>Product Description</span>
        </li>
        <li>
            <div class="switch switch-mini" data-order='10'>
                <input type="checkbox"/>
            </div>
            <span>Date</span>
        </li>

    </ul>

    <ul class="span6" style="list-style-type: none">
       <li>
            <div class="switch switch-mini" data-order='18'>
                <input type="checkbox"/>
            </div>
            <span>Bill Of Landing</span>
        </li>
        <li>
            <div class="switch switch-mini" data-order='9'>
                <input type="checkbox"/>
            </div>
            <span>Carrier</span>
        </li>
        <li>
            <div class="switch switch-mini" data-order='12'>
                <input type="checkbox"/>
            </div>
            <span>Vessel</span>
        </li>
        <li>
            <div class="switch switch-mini" data-order='13'>
                <input type="checkbox"/>
            </div>
            <span>Voyage</span>
        </li>
        <li>
            <div class="switch switch-mini" data-order='14'>
                <input type="checkbox"/>
            </div>
            <span>Us Port</span>
        </li>
        <li>
            <div class="switch switch-mini" data-order='15'>
                <input type="checkbox"/>
            </div>
            <span>Foreign Port</span>
        </li>
        <li>
            <div class="switch switch-mini" data-order='16'>
                <input type="checkbox"/>
            </div>
            <span>Country Of Origin</span>
        </li>
        <li>
            <div class="switch switch-mini" data-order='17'>
                <input type="checkbox"/>
            </div>
            <span>Place Of Receipt</span>
        </li>

    </ul>
</div>



