{% extends 'JariffProjectBundle::base_admin.html.twig' %}

{% block content %}
    <div id="content">Initial page</div>
{% endblock %}

{% block style %}
{% endblock %}

{% block javascript %}

<script type="text/javascript">
$(function () {
    
});
</script>

{% endblock %}