{% extends 'JariffProjectBundle::base.html.twig' %}

{% block content %}
    <section id="middle_content">
        <div class="entry">
            <div class="error">
                <h1>{{ status_code }}</h1>
                <h2>{{ status_text }}</h2>

                <a href="" class="button"><span>Back to home</span></a>
            </div>
        </div>
    </section>
{% endblock %}


