/web/bundles/
/web/css/
/web/js/
/web/dropbox/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/lock
app/contracts/
/web/uploads/
/web/convert/
/web/pdf/
*~
*.orig
.idea/*
nohup.out
.DS_Store