<!DOCTYPE html>
<html>
    <head>
        <title>Congratulation, your Stradetegy membership just activated right now</title>
    </head>
    <body>
    	<p>Congratulation, your Stradetegy membership just activated right now</p>
    	<p>Use this info to log in into sTradeTegy</p>
    	<p>Email : {{ origin.email }}</p>
    	<p>Password : {{ origin.password }}</p>
    </body>
</html>
