{% extends 'JariffProjectBundle::base.html.twig' %}

{% block add_style %}
{% endblock %}
{% block wrap_headline %}

{% endblock %}

{% block middle_content %}
<div class="content_wrap">
    <section id="content">
        {% block content %}
        {% endblock %}
    </section>

    <section id="sidebar">
        {% block right_sidebar %}
        <div class="one_first">
            <aside class="widget widget_custom_advertising_entries">
                <h2 class="widgettitle">MY TICKET</h2>
            </aside>
        </div>
        <div class="one_first">
            <aside class="widget widget_custom_advertising_entries">
                <h2 class="widgettitle">IT'S LIMITED ACCESS</h2>

                <p>
                    You have limited access to Stradetegy's search, company profiles, shipment data, and more.
                </p>

                <p>
                    Let us show you what you can do with a Stradetegy subscription — sign up for a free demo today.
                </p>

                <a href="#" class="button">
                    Request a demo
                </a>

                or

                <a href="">see plans.</a>
            </aside>
        </div>

        <div class="one_first">
            <aside class="widget widget_custom_contact_form_entries">
                <h2 class="widgettitle">YOUR ACCOUNT</h2>


                <a href="">Messages ( 0 new )</a>
                <br/>
                <a href="">Account Setting</a>

                <br/>
                <br/>

                <p>
                    CREDIT REMAINING
                    <br/>
                    0 profile views <a href="">(see visited profiles)</a>
                    <br/>
                    <a href="">Upgrade for more credits</a>
                </p>


                <p>YOUR SUBSCRIPTION
                    <br/>
                    Free User <a href="" class="button">Subscribe</a>
                </p>

            </aside>
        </div>

        <div class="one_first">
            <aside class="widget widget_links">
                <h2 class="widgettitle">HELP ARTICLES</h2>

                <p>
                    <a href="">Global Search</a>
                    <br/>
                    <span style="font-size: 10px">Search for companies, products, and more</span>
                </p>

                <p>
                    <a href="">Contacting Companies</a>
                    <br/>
                    <span style="font-size: 10px">Powerful customs data search</span>
                </p>

                <p>
                    <a href="">Account And FAQs</a>
                    <br/>
                    <span style="font-size: 10px">General information about Stradetegy</span>
                </p>


            </aside>
        </div>

        {% endblock %}

    </section>

    <!-- __________________________________________________ Finish Sidebar -->
    {% endblock %}

