{% extends 'JariffProjectBundle::base_search.html.twig' %}
{% block style %}
    <link href="{{ asset( 'bundles/jariffproject/frontend/css-old/css/bootstrap.css') }}" type="text/css" rel="stylesheet"
          media="screen"/>
{% endblock %}
{% block add_style %}

    style="margin-top:30px";
{% endblock %}
{% block rm_style %}
{% endblock %}
{% block wrap_headline %}

    <div class="wrap_headline">
        <div class="headline">
            <h1>Right Sidebar</h1>
        </div>
    </div>
    <div class="wrap_cont_nav">
        <div class="cont_nav">
            <a href="index.html">Home</a>&nbsp;/&nbsp;<a href="shortcodes.html">Features</a>&nbsp;/&nbsp;<a
                    href="about1.html">Layouts</a>&nbsp;/&nbsp;Left Sidebar
        </div>
    </div>
{% endblock %}

                    {% block top_inner %}
                    {% endblock top_inner %}
{% block middle_content %}
    <div class="content_wrap sidebar_left">
    <section id="content" class="fr">
        {% block content %}
        {% endblock %}

    </section>
    <!-- __________________________________________________ Finish Content -->

    <!-- __________________________________________________ Start Sidebar -->

    {% block left_sidebar %}
    
        <section id="sidebar">
            <div class="one_first">
                {% block one_first %}
                <aside class="widget widget_custom_advertising_entries">
                    <h2 class="widgettitle">Advertising</h2>
                    <ul>
                        <li><a href="#"><img src="/bundles/jariffproject/frontend/images/img/advertising_img_1.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="/bundles/jariffproject/frontend/images/img/advertising_img_2.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="/bundles/jariffproject/frontend/images/img/advertising_img_3.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="/bundles/jariffproject/frontend/images/img/advertising_img_4.jpg" alt=""/></a></li>
                    </ul>
                </aside>
                {% endblock %}
            </div>
            <div class="one_first">
                <aside class="widget widget_custom_latest_popular_recent_entries">
                    <h2 class="widgettitle">Recent Post</h2>

                    <div class="tab lpr">
                        <ul class="tabs">
                            <li>
                                <a href="#" class="current"><span>Recent</span></a>
                            </li>
                            <li>
                                <a href="#" class=""><span>Popular</span></a>
                            </li>
                            <li>
                                <a href="#" class=""><span>Comments</span></a>
                            </li>
                        </ul>
                        <div class="tab_content">
                            <div class="tabs_tab" style="display: block;">
                                <ul>
                                    <li>
                                        <div class="alignleft">
                                            <figure>
                                                <a title="Standard blogpost with image" href="openpost.html">
                                                    <img src="/bundles/jariffproject/frontend/images/img/posts_1.jpg">
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="ovh">
                                            <a title="Standard blogpost with image" href="openpost.html">Standard
                                                blogpost
                                                with image</a>
                                            <abbr title="08-09-2012" class="published">26 days ago</abbr>
                                        </div>
                                        <div class="cl"></div>
                                    </li>
                                    <li>
                                        <div class="alignleft">
                                            <figure>
                                                <a title="Gallery Post Format" href="openpost.html">
                                                    <img src="/bundles/jariffproject/frontend/images/img/posts_2.jpg">
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="ovh">
                                            <a title="Gallery Post Forma" href="openpost.html">Gallery Post Format</a>
                                            <abbr title="07-09-2012" class="published">27 days ago</abbr>
                                        </div>
                                        <div class="cl"></div>
                                    </li>
                                    <li>
                                        <div class="alignleft">
                                            <figure>
                                                <a title="Image Post Format" href="openpost.html">
                                                    <img src="/bundles/jariffproject/frontend/images/img/posts_3.jpg">
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="ovh">
                                            <a title="Image Post Format" href="openpost.html">Image Post Format</a>
                                            <abbr title="06-09-2012" class="published">28 days ago</abbr>
                                        </div>
                                        <div class="cl"></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tabs_tab" style="display: none;">
                                <ul>
                                    <li>
                                        <div class="alignleft">
                                            <figure>
                                                <a href="openpost.html" title="Gallery Post Format">
                                                    <img src="/bundles/jariffproject/frontend/images/img/posts_1.jpg">
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="ovh">
                                            <a href="openpost.html" title="Gallery Post Format">Gallery Post Format</a>
                                            <abbr class="published" title="07-09-2012">27 days ago</abbr>
                                        </div>
                                        <div class="cl"></div>
                                    </li>
                                    <li>
                                        <div class="alignleft">
                                            <figure>
                                                <a href="openpost.html" title="Video from Vimeo">
                                                    <img src="/bundles/jariffproject/frontend/images/img/posts_2.jpg">
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="ovh">
                                            <a href="openpost.html" title="Video from Vimeo">Video from Vimeo</a>
                                            <abbr class="published" title="05-09-2012">29 days ago</abbr>
                                        </div>
                                        <div class="cl"></div>
                                    </li>
                                    <li>
                                        <div class="alignleft">
                                            <figure>
                                                <a href="openpost.html" title="Standard blogpost without image">
                                                    <img src="/bundles/jariffproject/frontend/images/img/posts_3.jpg">
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="ovh">
                                            <a href="openpost.html" title="Standard blogpost without image">Standard
                                                blogpost without image</a>
                                            <abbr class="published" title="06-09-2012">28 days ago</abbr>
                                        </div>
                                        <div class="cl"></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tabs_tab" style="display: none;">
                                <ul>
                                    <li>
                                        <strong>Rob Miller</strong> on <a rel="bookmark" href="openpost.html">Cum sociis
                                            natoque</a>
                                        <br/>
                                        <abbr title="22 hours ago" class="published">22 hours ago</abbr>

                                        <p>Quisque id odio et nibh scelerisque vulputate</p>
                                    </li>
                                    <li>
                                        <strong>Rob Miller</strong> on <a href="openpost.html">Cum sociis natoque</a>
                                        <br/>
                                        <abbr title="22 hours ago" class="published">22 hours ago</abbr>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                    </li>
                                    <li>
                                        <strong>Rob Miller</strong> on <a href="openpost.html">Cum sociis natoque</a>
                                        <br>
                                        <abbr title="22 hours ago" class="published">22 hours ago</abbr>

                                        <p>New comment</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>

        </section>
    {% endblock %}

    <!-- __________________________________________________ Finish Sidebar -->
{% endblock %}