<div class="modal fade" id="modalLoadingClick" tabindex="-1" role="document" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title j-modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body j-content">
                <div id="chart_div">
                    <div class="css3-spinner">
                        <div class="css3-spinner-bounce1"></div>
                        <div class="css3-spinner-bounce2"></div>
                        <div class="css3-spinner-bounce3"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>