{% for r in collect %}
    {% if loop.index > 1 %}
        <div class="entry-content project_content portfolio_container three_blocks j-condition-to-remove"
             style="margin-top: -22px;">
            <div class="cmsms_media">
                <div class="cmsms_media_box" style="width: 11%">
                    <div class="form_info cmsms_input">
                        <select id="search_form_collect" style="width:125%" name="condition[]"
                                required="required">
                            <option value="and" {% if condition[loop.index - 2] == "and" -%}
                                selected="selected"
                                    {% endif -%}>AND
                            </option>
                            <option value="or" {% if condition[loop.index - 2] == "or" -%}
                                selected="selected"
                                    {% endif -%}>OR
                            </option>
                            <option value="not" {% if condition[loop.index - 2] == "not" -%}
                                selected="selected"
                                    {% endif -%}>NOT
                            </option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="cmsms_media">
                <div class="cmsms_media_box">
                    <div class="form_info cmsms_input">

                        {#<input type="text" name="wemail" id="field_003" size="10" style="width: 32%;" tabindex="11"#}
                        {#/>#}
                        <select id="search_form_collect" style="width: 108%" name="collect[]"
                                required="required">
                            <option value="all" {% if collect[loop.index - 1] is defined and collect[loop.index - 1] == "all" -%}
                                selected="selected"
                                    {% endif -%}>All
                            </option>
                            <option value="consignee_name"
                                    {% if collect[loop.index - 1] is defined and collect[loop.index - 1] == "consignee_name" -%}
                                        selected="selected"
                                    {% elseif collect[0] is not defined %}
                                        selected="selected"
                                    {% endif -%}
                                    >Importer Name
                            </option>
                            <option value="consignee_address"
                                    {% if collect[loop.index - 1] is defined and collect[loop.index - 1] == "consignee_address" -%}
                                selected="selected"
                                    {% endif -%}>Importer Address
                            </option>
                            <option value="shipper_name"
                                    {% if collect[loop.index - 1] is defined and collect[loop.index - 1] == "shipper_name" -%}
                                        selected="selected"
                                    {% endif -%}
                                    >Exporter Name
                            </option>
                            <option value="shipper_address"
                                    {% if collect[loop.index - 1] is defined and collect[loop.index - 1] == "shipper_address" -%}
                                selected="selected"
                                    {% endif -%}>Exporter Address
                            </option>
                            <option value="raw_notify_party_name" {% if collect[loop.index - 1] is defined and collect[loop.index - 1] == "raw_notify_party_name" -%}
                                selected="selected"
                                    {% endif -%}>Importer Notify Party
                            </option>
                            <option value="unloading_port" {% if collect[loop.index - 1] is defined and collect[loop.index - 1] == "unloading_port" -%}
                                selected="selected"
                                    {% endif -%}>US Port Shipment Entered
                            </option>

                            <option value="product_description" {% if collect[loop.index - 1] is defined and collect[loop.index - 1] == "product_description" -%}
                                selected="selected"
                                    {% endif -%}>Product Description
                            </option>

                            <option value="carrier_sasc_code" {% if collect[loop.index - 1] is defined and collect[loop.index - 1] == "carrier_sasc_code" -%}
                                selected="selected"
                                    {% endif -%}>Carrier Code
                            </option>
                            <option value="vessel_name" {% if collect[loop.index - 1] is defined and collect[loop.index - 1] == "vessel_name" -%}
                                selected="selected"
                                    {% endif -%}>Vessel Name
                            </option>
                            <option value="loading_port" {% if collect[loop.index - 1] is defined and collect[loop.index - 1] == "loading_port" -%}
                                selected="selected"
                                    {% endif -%}>Foreign Port
                            </option>
                            {#<option value="value.country" {% if collect[loop.index - 1] is defined and collect[loop.index - 1] == "value.country" -%}#}
                            {#selected="selected"#}
                            {#{% endif -%}>Origin Of Vessel#}
                            {#</option>#}
                            <option value="container_id" {% if collect[loop.index - 1] is defined and collect[loop.index - 1] == "container_id" -%}
                                selected="selected"
                                    {% endif -%}>Container Number
                            </option>
                            <option value="bill_of_lading" {% if collect[loop.index - 1] is defined and collect[loop.index - 1] == "bill_of_lading" -%}
                                selected="selected"
                                    {% endif -%}>Bill Of Lading Number
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="cmsms_media">
                <div class="cmsms_media_box">
                    <div class="form_info cmsms_input">
                        <input type="text" placeholder="Input Keywords" name="q[]" style="width: 108%"
                               id="field_003" size="10" tabindex="11" value="{{ q[loop.index - 1] }}"
                                />
                    </div>
                </div>
            </div>
            <div class="cmsms_media">
                <div class="cmsms_media_box" style="float: right;margin: 0px -67px 0px 0px;">
                    <div class="form_info cmsms_input">
                        <div class="button_click">
                            <a class="button j-remove" href="javascript:void(0)"><span>X</span></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    {% endif %}
{% endfor %}

