<!DOCTYPE html>
<html>
    <head>
        <title>Congratulation,</title>
    </head>
    <body>
    	<p>Congratulation,</p>
    	<p>Use this info to log in into sTradeTegy</p>
    	<p>Email : {{ data.email }}</p>
    	<p>Password : {{ data.password }}</p>
    </body>
</html>