{% extends 'JariffMemberBundle:Email:base_template_email.html.twig' %}
{% block title %}Your cancellation request{% endblock %}

{% block content %}
<p>Hi {{ name }},<br/><br/>

    Your request to cancel has been received and will be processed as quickly as possible.<br/><br/>

    Please reach out any time with questions or concerns. We're happy to help!<br/><br/>

    Regards,<br/><br/>

    The sTRADEtegy Team
    </p>
{% endblock %}
