{% extends 'JariffProjectBundle::base_admin.html.twig' %}

{% block content -%}
    <h1>MemberARB edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_arb_show', {'token' : entity.member.token }) }}">
            Back to the member
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
