{% extends 'JariffProjectBundle::base_two_column.html.twig' %}

{% form_theme form 'JariffProjectBundle:Form:theme_form_horizontal.html.twig' %}

{% block contentHeading %}
    <div class="page_heading"><h1>{% trans %}Reset Password{% endtrans %}</h1></div>
{% endblock contentHeading %}

{% block content -%}
    <form action="{{ path('reset_password') }}" method="post" {{ form_enctype(form) }} class="box-form form-horizontal">

        {{ form_widget(form) }}

        <p style="text-align: center;">
            <button type="submit">Reset Password Saya !</button>
        </p>
    </form>
{% endblock %}
