<!DOCTYPE html>
<html>
    <head>
        <title>Attention please, Your Stradetegy membership will expired in {{ entity.expiredDate | date('Y-m-d H:i:s') }}</title>
    </head>
    <body>
    	<p>Attention please, Your Stradetegy membership will expired in {{ entity.expiredDate | date('Y-m-d H:i:s') }}</p>
    	<p>Please contact sales@stradetegy.com to extend your valuable membership.</p>
    	<p>Regards,</p>
    </body>
</html>
