{% extends 'JariffProjectBundle::base_member_cs.html.twig' %}

{% block header_title %}Widely Used SCAC Codes{% endblock %}

    {% block content %}

        {#<img src="{{ asset('/bundles/jariffproject/frontend/images/logo.png') }}"  alt="stradetegy Logo">#}
        <a href="{{ asset('/bundles/jariffproject/frontend/documents/Widely_Used_SCAC_Codes.pdf') }}" target="_blank" class="pull-right"><span class="icon-download-alt"></span> Download Widely Used SCAC Codes</a>
        <br/>
        <br/>
        <table class="table table-hover">
            <thead>
                <th>Code</th>
                <th>Carrier</th>
            </thead>
            <tbody>
                <tr class="info">
                    <td>AWTM</td>
                    <td>A Way To Move Inc.
                    </td>

                </tr>
                <tr>
                    <td>ACAD</td>
                    <td>Acadian Marine Services</td>

                </tr>
                <tr class="info">
                    <td>AKMR</td>
                    <td>Alaskan Marine
                    </td>

                </tr>
                <tr>
                    <td>ASTE</td>
                    <td>Alcoa Steamship Co Inc.</td>

                </tr>
                <tr class="info">
                    <td>AQGT</td>
                    <td>American Cargo Transport Inc.</td>

                </tr>
                <tr>
                    <td>ACJU</td>
                    <td>American Coastal Lines</td>

                </tr>
                <tr class="info">
                    <td>ACFC</td>
                    <td>American First Line</td>

                </tr>
                <tr>
                    <td>APLS</td>
                    <td>American President Lines, LTD.</td>

                </tr>
                <tr class="info">
                    <td>AROF</td>
                    <td>American Roll On Roll Off Carriers LLC</td>

                </tr>
                <tr>
                    <td>CEGL</td>
                    <td>Central Gult Lines, Inc.</td>

                </tr>
                <tr class="info">
                    <td>CESC</td>
                    <td>Central Shipping Company, Inc.</td>

                </tr>
                <tr>
                    <td>COBV</td>
                    <td>Cobelfret N V</td>

                </tr>
                <tr class="info">
                    <td>CAMN</td>
                    <td>Crowley Liner Services, Inc.</td>

                </tr>
                <tr>
                    <td>DSSL</td>
                    <td>Deep South Shipping, LLC</td>

                </tr>
                <tr class="info">
                    <td>EIMW</td>
                    <td>Eimskip</td>

                </tr>
                <tr>
                    <td>EUKO</td>
                    <td>Eukor Car Carriers Inc</td>

                </tr>
                <tr class="info">
                    <td>GESC</td>
                    <td>Great Eastern Shipping Inc</td>

                </tr>
                <tr>
                    <td>SUDU</td>
                    <td>Hamburg SUD</td>

                </tr>
                <tr class="info">
                    <td>HJSC</td>
                    <td>Hanjin Shipping Co LTD</td>

                </tr>
                <tr>
                    <td>HLUS</td>
                    <td>Hapag Lloyd</td>

                </tr>
                <tr class="info">
                    <td>HRZD</td>
                    <td>Horizon Lines</td>

                </tr>
                <tr>
                    <td>IDMC</td>
                    <td>Industrial Maritime Carriers</td>

                </tr>
                <tr class="info">
                    <td>KSEN</td>
                    <td>Knutsen O.A.S. Shipping A/S</td>

                </tr>
                <tr>
                    <td>LGLT</td>
                    <td>Liberty Global Logistics LLC</td>

                </tr>
                <tr class="info">
                    <td>GWLZ</td>
                    <td>Liberty Shippers</td>

                </tr>
                <tr>
                    <td>LSGP</td>
                    <td>Liberty Shipping Group Limited</td>

                </tr>
                <tr class="info">
                    <td>MAEU</td>
                    <td>Maersk Lines Inc.</td>

                </tr>
                <tr>
                    <td>MATS</td>
                    <td>Matson Navigation Co.</td>

                </tr>

                <tr class="info">
                    <td>MYBK</td>
                    <td>Maybank Shipping Company</td>

                </tr>
                <tr>
                    <td>MSCS</td>
                    <td>Miltary Sealift Command</td>

                </tr>

                <tr class="info">
                    <td>MOBY</td>
                    <td>Moby Marine</td>

                </tr>
                <tr>
                    <td>PHTO</td>
                    <td>P&H Transportation LLC</td>

                </tr>

                <tr class="info">
                    <td>PSHI</td>
                    <td>Pasha Hawaii Transport Lines</td>

                </tr>
                <tr>
                    <td>PMOL</td>
                    <td>PM&O Lines</td>

                </tr>

                <tr class="info">
                    <td>PLLU</td>
                    <td>Polynesia Line</td>

                </tr>
                <tr>
                    <td>SKII</td>
                    <td>Samskip Inc</td>

                </tr>

                <tr class="info">
                    <td>SSTB</td>
                    <td>Samson Tug & Barge Co</td>

                </tr>
                <tr>
                    <td>SBDM</td>
                    <td>Seaboard Marine</td>

                </tr>

                 <tr class="info">
                    <td>SLFI</td>
                    <td>Sealift International Inc.</td>

                </tr>
                <tr>
                    <td>SVOC</td>
                    <td>Strong Vessels Operators LLC</td>

                </tr>

                <tr class="info">
                    <td>TOHO</td>
                    <td>Toho Shipping Co LTD</td>

                </tr>
                <tr>
                    <td>TOTE</td>
                    <td>Totem Ocean Trailer Express Inc</td>

                </tr>

                 <tr class="info">
                    <td>TALC</td>
                    <td>Trans Atlantic Lines - Icelan EFH</td>

                </tr>
                <tr>
                    <td>TALS</td>
                    <td>Transatlantic Lines LLC</td>

                </tr>


            </tbody>
        </table>


    {% endblock %}
